* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
}

:root,
:root.bright {
  --large-screen-body-background: #f5f5f5;
  --background-theme: #f5f5f5;
  --primary-color: #eee9e3;
  --secondary-color: #7fd1ae;
  --accent-color: #ff8a5f;
  --light-color: #474554;
  --dark-shadow: rgb(0, 0, 0);
  --active-nav-color: #ff8a5f;
  --main-nav-container-color: #eee9e3;
  --project-nav-container-color: #f5f5f5;
  --main-nav-item-color: #7fd1ae;
  --project-nav-item-color: #7fd1ae;
  --project-theme-switch-background-color: #7fd1ae;
  --project-theme-switch-border-color: #7fd1ae;
  --project-theme-switch-color: #f5f5f5;
  --project-theme-question-color: #ff8a5f;
  --main-theme-question-color: #ff8a5f;
  --custom-scrollbar-color: #ff8a5f;
  --projects-odd-background: 255, 138, 95;
  --projects-odd-background-light: rgba(var(--projects-odd-background), 0.1);
  --projects-even-background-border: rgba(var(--projects-odd-background), 0.05);
  --projects-even-background-color: transparent;
  --projects-btn-color: #7fd1ae;
}

:root.warm {
  --background-theme: #8a1d06;
  --primary-color: #c5a586;
  --secondary-color: #402e32;
  --accent-color: #8a1d06;
  --light-color: #f5f5f5;
  --active-nav-color: #402e32;
  --main-nav-container-color: #c5a586;
  --project-nav-container-color: #8a1d06;
  --main-nav-item-color: #402e32;
  --project-nav-item-color: #c5a586;
  --project-theme-switch-background-color: #c5a586;
  --project-theme-switch-border-color: #c5a586;
  --project-theme-switch-color: #8a1d06;
  --project-theme-question-color: #c5a586;
  --main-theme-question-color: #402e32;
  --custom-scrollbar-color: #402e32;
  --projects-odd-background: 64, 46, 50;
  --projects-odd-background-light: rgba(var(--projects-odd-background), 0.2);
  --projects-even-background-border: rgba(var(--projects-odd-background), 0.05);
  --projects-even-background-color: transparent;
  --projects-btn-color: #c5a586;
}
