.pagebox {
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  perspective: 1000px;

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition-delay: 0.25s;
    transition-property: transform;
    transition-duration: 1.5s;
    transition-timing-function: ease-in;
    transform-style: preserve-3d;
  }
}

.main,
.projects {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.projects {
  transform: rotateX(180deg);
}

.nav {
  z-index: 99;
}
