$dark-shadow: #000;
$nav-height: 15vh;
$main-height: calc(100vh - #{$nav-height});

@mixin flexStyle($flexDirection, $alignProperty: null) {
  display: flex;
  justify-content: center;

  @if $flexDirection == "column" {
    flex-direction: column;
  } @else {
    flex-direction: row;
  }

  @if not($alignProperty == null) {
    align-items: center;
  }
}
