@use "variables";
@use "./global";
@use "./page-flip";

body {
  background: var(--background-theme);
  overflow: hidden;
}

.main_nav {
  background-color: var(--main-nav-container-color);

  &__link {
    color: var(--main-nav-item-color);
  }
}

.projects_nav {
  background-color: var(--project-nav-container-color);

  &__link {
    color: var(--project-nav-item-color);
  }
}

.nav {
  height: variables.$nav-height;
  width: 100vw;
  position: fixed;
  bottom: 0;
  @include variables.flexStyle(column, null);
  box-shadow: 0px 20px 60px rgba(variables.$dark-shadow, 0.5);
  padding: 0 1rem;

  &__list {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  &__link {
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
  }

  &__item {
    height: inherit;
    width: 25%;
    @include variables.flexStyle(row, center);
  }

  &__link:first-child {
    font-size: 1.2rem;
  }

  &__icon {
    font-size: 3rem;
  }

  &__theme-switch-container {
    // background-color: blue;
    // @include variables.flexStyle(column, center);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  &__theme-question {
    margin-bottom: 2%;
    color: var(--main-theme-question-color);
    font-size: 0.8rem;
  }

  &__theme-switch {
    appearance: none;
    width: 60%;
    height: 35%;
    border: 2px solid var(--secondary-color);
    outline: none;
    border-radius: 3rem;
    transition: 0.3s;
    background-color: var(--secondary-color);
  }

  &__theme-switch::before {
    content: "";
    background: var(--primary-color);
    width: 4%;
    height: 15%;
    border-radius: 50%;
    position: absolute;
    margin-left: 1%;
    margin-top: 0.5%;
    transition: 0.8s ease;
  }

  &__theme-switch:checked:before {
    transform: translateX(170%);
    background: var(--primary-color);
  }

  &__theme-switch:checked {
    border-color: var(--secondary-color);
  }
}

.projects_nav {
  &__theme-question {
    color: var(--project-theme-question-color);
  }

  &__theme-switch {
    border: 2px solid var(--project-theme-switch-border-color);
    background-color: var(--project-theme-switch-background-color);
  }

  &__theme-switch::before {
    background: var(--project-theme-switch-color);
  }

  &__theme-switch:checked:before {
    background: var(--project-theme-switch-color);
  }

  &__theme-switch:checked {
    border-color: var(--project-theme-switch-border-color);
  }
}

.main {
  background-color: var(--primary-color);
  height: 100vh;

  &__container {
    height: variables.$main-height;
    color: var(--accent-color);
    padding: 0 2rem;
    @include variables.flexStyle(column, center);
  }

  &__heading {
    letter-spacing: 1px;
    font-size: 1.3rem;

    &--first {
      font-size: 2.5rem;
    }
  }

  &__link {
    text-decoration: none;
  }

  &__direction {
    width: 3.5rem;
    height: 3.5rem;
    margin-top: 4rem;
    background: var(--accent-color);
    border-radius: 50%;
    color: var(--primary-color);
    @include variables.flexStyle(row, center);
    box-shadow: 0px 12px 10px rgba(variables.$dark-shadow, 0.1);
    animation: action 1s infinite alternate;
    border: none;
  }
}

@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.projects {
  height: 100vh;
  background-color: var(--background-theme);
  color: var(--light-color);

  &__container {
    height: variables.$main-height;
  }

  &__navigation {
    padding: 3rem 0rem 1rem;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;
    max-height: 15vh;
  }

  &__navigation.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
  }

  &__navigation-item {
    width: 20%;
    padding: 0.2rem 0;
    margin: 0 0.5rem;
    border: none;
    font-size: 1rem;
    background-color: transparent;
    color: var(--light-color);

    &::after {
      content: "";
      display: block;
      margin: auto;
      margin-top: 3px;
      height: 5px;
      width: 0px;
      background: transparent;
      transition: width 0.8s ease, background-color 0.8s ease-in;
    }

    &.active::after {
      width: 100%;
      background: var(--active-nav-color);
    }
  }

  &__list {
    padding: 1rem 2rem;
    max-height: 68vh;
    overflow-x: hidden;
    margin-bottom: 2vh;
    // scrollbar-width: thin;
    // scrollbar-color: #718096 #edf2f7;
  }

  &__list::-webkit-scrollbar {
    width: 0.5rem;
  }

  &__list::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &__list::-webkit-scrollbar-thumb {
    background-color: var(--custom-scrollbar-color);
    border-radius: 9999px;
  }
}

.project {
  padding: 1rem;
  margin-bottom: 1.5rem;

  &__title {
    font-weight: bold;
  }

  &__description,
  &__btn {
    margin-top: 0.5rem;
  }

  &__btn {
    padding: 0.3rem;
    text-transform: uppercase;
    font-size: 0.7rem;
    color: var(--projects-btn-color);
    outline: none;
    background: transparent;
    border: 1px solid var(--projects-btn-color);
    margin-right: 1rem;
  }
}

.project:nth-child(odd) {
  background: var(--projects-odd-background-light);
  box-shadow: 0px 0px 20px rgba(#000, 0.2);
}

.project:nth-child(even) {
  background: var(--projects-even-background-color);
  border: 2px solid var(--projects-even-background-border);
  box-shadow: 0px 0px 0px rgba(#000, 0.4);
  box-sizing: border-box;
  filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.7));
}

@media screen and (max-width: 359px) and (min-width: 321px) {
  .nav {
    &__link:first-child {
      font-size: 0.9rem;
    }

    &__icon {
      font-size: 2.5rem;
    }

    &__theme-switch {
      width: 61%;
      height: 25%;
    }

    &__theme-switch::before {
      width: 3.2%;
      height: 10%;
    }

    &__theme-switch:checked:before {
      transform: translateX(225%);
    }
  }

  .main {
    &__container {
      padding: 0 1rem;
    }
  }
}

@media only screen and (max-width: 320px) {
  .nav {
    &__link:first-child {
      font-size: 1rem;
    }

    &__icon {
      font-size: 2.7rem;
    }

    &__theme-switch {
      width: 61%;
      height: 28%;
    }

    &__theme-switch::before {
      width: 3.2%;
      height: 12%;
      margin-top: 0.25%;
    }

    &__theme-switch:checked:before {
      transform: translateX(225%);
    }
  }

  .main_nav,
  .projects_nav {
    &__theme-question {
      font-size: 0.7rem;
    }
  }

  .main {
    &__container {
      padding: 0 1rem;
    }
  }

  .projects {
    &__navigation-item {
      width: 28%;
    }
  }
}

// iPhone X
@media screen and (max-height: 812px) and (min-height: 810px) {
  .nav {
    &__link:first-child {
      font-size: 1.2rem;
    }

    &__icon {
      font-size: 3.5rem;
    }

    &__theme-switch {
      width: 61%;
      height: 25%;
    }

    &__theme-switch::before {
      width: 3.5%;
      height: 12%;
      margin-top: 0.25%;
    }

    &__theme-switch:checked:before {
      transform: translateX(215%);
    }
  }
}

// iPhone 11 & 12 ProMax
@media screen and (max-height: 926px) and (min-height: 890px) {
  .nav {
    &__link:first-child {
      font-size: 1.5rem;
    }

    &__icon {
      font-size: 3.8rem;
    }

    &__theme-switch {
      width: 61%;
      height: 25%;
    }

    &__theme-switch::before {
      width: 3.5%;
      height: 12%;
      margin-top: 0.25%;
    }

    &__theme-switch:checked:before {
      transform: translateX(230%);
    }
  }

  .main_nav,
  .projects_nav {
    &__theme-question {
      font-size: 1rem;
    }
  }

  .main {
    &__container {
      padding: 0 1rem;
    }

    &__heading {
      font-size: 1.8rem;

      &--first {
        font-size: 4rem;
      }
    }
  }
}

// iPads and Tablets
@media screen and (max-width: 768px) and (min-width: 700px) {
  .nav {
    &__link:first-child {
      font-size: 1.6rem;
    }

    &__icon {
      font-size: 4rem;
    }

    &__theme-switch {
      width: 45%;
      height: 25%;
    }

    &__theme-switch::before {
      width: 2.6%;
      height: 12%;
      margin-top: 0.22%;
    }

    &__theme-switch:checked:before {
      transform: translateX(230%);
    }
  }

  .main_nav,
  .projects_nav {
    &__theme-question {
      font-size: 1.1rem;
    }
  }

  .main {
    &__heading {
      font-size: 1.8rem;

      &--first {
        font-size: 4rem;
      }
    }

    &__direction {
      width: 5rem;
      height: 5rem;
    }
  }

  .projects {
    &__navigation-item {
      margin-right: 0;
      font-size: 1.5rem;
    }
  }

  .project {
    font-size: 1.3rem;

    &__btn {
      font-size: 1rem;
    }
  }
}

// Targetting iPad height
@media screen and (max-height: 800px) and (min-height: 750px) {
  .main {
    &__heading {
      width: 70%;
      font-size: 2rem !important;

      &--first {
        font-size: 2.2rem !important;
      }
    }
  }
}

@media screen and (max-width: 699px) and (min-width: 500px) {
  .nav {
    &__link:first-child {
      font-size: 1.3rem;
    }

    &__icon {
      font-size: 3.5rem;
    }

    &__theme-switch {
      width: 45%;
      height: 27.5%;
    }

    &__theme-switch::before {
      width: 2.6%;
      height: 12%;
      margin-top: 0.22%;
    }

    &__theme-switch:checked:before {
      transform: translateX(230%);
    }
  }

  .main_nav,
  .projects_nav {
    &__theme-question {
      font-size: 0.9rem;
    }
  }

  .main {
    &__heading {
      font-size: 1.5rem;

      &--first {
        font-size: 3rem;
      }
    }
  }

  .projects {
    &__navigation-item {
      margin-right: 0;
      font-size: 1.1rem;
    }
  }

  .project {
    font-size: 1rem;
  }
}

// Small Screen
@media only screen and (max-width: 1023px) {
  .nav {
    &__menu-dropdown {
      display: none;
    }
  }
}

// Large Screen
@media only screen and (min-width: 1024px) {
  .main {
    background-color: var(--large-screen-body-background);

    &__container {
      background-color: var(--primary-color);
      height: 100vh;
      -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 70%, 0 100%);
      clip-path: polygon(0% 0%, 100% 0, 100% 70%, 0 100%);
      align-items: flex-start;
    }

    &__heading {
      width: 70%;
      font-size: 2.5rem;

      &--first {
        font-size: 2.5rem;
      }
    }

    &__link {
      text-decoration: none;
    }

    &__button {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    &__direction {
      width: 4rem;
      height: 4rem;
    }
  }

  .nav {
    height: 500px;
    width: 150px;
    position: absolute;
    top: 0;
    right: 5%;
    box-shadow: none;
    margin-top: 2rem;
    justify-content: flex-start;

    &__list {
      display: flex;
      flex-direction: column;
      //justify-content: center;
      align-items: center;
    }

    &__item {
      margin-top: 3rem;
      width: 100%;
    }

    &__link {
      font-size: 1.6rem !important;
    }

    &__icon {
      font-size: 4rem;
    }

    &__item-toggle {
      transition: opacity 1s;

      &.open {
        opacity: 0;
      }
    }

    &__theme-switch-container {
      height: 100px;
      width: auto;
      position: absolute;
      top: 15%;
      //z-index: -99;
      transition: top 2.4s ease-in-out;

      &.expand {
        top: 80%;
      }
    }

    &__theme-question {
      font-size: 1.3rem;
    }

    &__theme-switch {
      width: 70%;
      height: 28px;
    }

    &__theme-switch::before {
      width: 18%;
      height: 18%;
      margin-top: 2px;
      margin-left: 6px;
    }

    &__theme-switch:checked:before {
      transform: translateX(200%);
    }
  }

  .main_nav {
    &__toggle-container {
      margin: 0 auto;
    }

    &__toggle {
      font-size: 3.5rem;
      color: var(--secondary-color);
      transition: opacity 1s;

      &.ease-display {
        opacity: 0;
      }
    }
  }

  .fa-counter-spin {
    -webkit-animation: spin-counter 2s infinite linear;
    -moz-animation: spin-counter 2s infinite linear;
    -o-animation: spin-counter 2s infinite linear;
    animation: spin-counter 2s infinite linear;
  }
  @-moz-keyframes spin-counter {
    0% {
      -moz-transform: rotate(359deg);
    }
    100% {
      -moz-transform: rotate(0deg);
    }
  }
  @-webkit-keyframes spin-counter {
    0% {
      -webkit-transform: rotate(359deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
    }
  }
  @-o-keyframes spin-counter {
    0% {
      -o-transform: rotate(359deg);
    }
    100% {
      -o-transform: rotate(0deg);
    }
  }
  @-ms-keyframes spin-counter {
    0% {
      -ms-transform: rotate(359deg);
    }
    100% {
      -ms-transform: rotate(0deg);
    }
  }
  @keyframes spin-counter {
    0% {
      transform: rotate(359deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}
