@use "variables";
@use "./global";
@use "./page-flip";

body {
  background: var(--background-theme);
  overflow: hidden;
}

.main_nav {
  background-color: var(--main-nav-container-color);

  &__link {
    color: var(--main-nav-item-color);
  }
}

.projects_nav {
  background-color: var(--project-nav-container-color);

  &__link {
    color: var(--project-nav-item-color);
  }
}

.nav {
  height: variables.$nav-height;
  width: 100vw;
  position: fixed;
  bottom: 0;
  @include variables.flexStyle(column, null);
  box-shadow: 0px 20px 60px rgba(variables.$dark-shadow, 0.5);
  padding: 0 1rem;

  &__list {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  &__link {
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
  }

  &__item {
    height: inherit;
    width: 25%;
    @include variables.flexStyle(row, center);
  }

  &__link:first-child {
    font-size: 1.2rem;
  }

  &__icon {
    font-size: 3rem;
  }

  // &__theme-switch-container {
  //   height: 100%;
  //   width: 100%;
  //   background-color: blue;
  //   @include variables.flexStyle(column, center);
  // }

  // &__theme-question {
  //   color: #ff8a5f;
  //   font-size: 0.8rem;
  //   @include variables.flexStyle(row, center);

  //   &::before {
  //     content: "too bright?";
  //     opacity: 1;
  //   }

  //   &::after {
  //     content: "too warm?";
  //     opacity: 0;
  //   }

  //   &::before,
  //   &::after {
  //     position: absolute;
  //     top: 20%;
  //     // width: inherit;
  //     // height: inherit;
  //     transition: opacity 1s ease-in-out;
  //   }

  //   &.theme-question-display::before {
  //     opacity: 0;
  //   }

  //   &.theme-question-display::after {
  //     opacity: 1;
  //   }
  // }

  // &__theme-switch {
  //   appearance: none;
  //   width: 60%;
  //   height: 35%;
  //   border: 2px solid var(--secondary-color);
  //   outline: none;
  //   border-radius: 3rem;
  //   transition: 0.3s;
  //   background-color: var(--secondary-color);
  // }

  // &__theme-switch::before {
  //   content: "";
  //   background: var(--primary-color);
  //   width: 4%;
  //   height: 15%;
  //   border-radius: 50%;
  //   position: absolute;
  //   margin-left: 1%;
  //   margin-top: 0.5%;
  //   transition: 0.8s ease;
  // }

  // &__theme-switch:checked:before {
  //   transform: translateX(170%);
  //   background: var(--primary-color);
  // }

  // &__theme-switch:checked {
  //   border-color: var(--secondary-color);
  // }

  &__theme-switch-container {
    // background-color: blue;
    // @include variables.flexStyle(column, center);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    //padding-top: 10px;
    //flex-wrap: wrap;

    // &::before {
    //   content: "too bright?";
    //   opacity: 1;
    // }

    // &::after {
    //   content: "too warm?";
    //   opacity: 0;
    // }
  }

  &__theme-question {
    margin-bottom: 2%;
    color: var(--main-theme-question-color);
    font-size: 0.8rem;
  }

  &__theme-switch {
    appearance: none;
    width: 60%;
    height: 35%;
    border: 2px solid var(--secondary-color);
    outline: none;
    border-radius: 3rem;
    transition: 0.3s;
    background-color: var(--secondary-color);
  }

  &__theme-switch::before {
    content: "";
    background: var(--primary-color);
    width: 4%;
    height: 15%;
    border-radius: 50%;
    position: absolute;
    margin-left: 1%;
    margin-top: 0.5%;
    transition: 0.8s ease;
  }

  &__theme-switch:checked:before {
    transform: translateX(170%);
    background: var(--primary-color);
  }

  &__theme-switch:checked {
    border-color: var(--secondary-color);
  }
}

.projects_nav {
  &__theme-question {
    color: var(--project-theme-question-color);
  }

  &__theme-switch {
    border: 2px solid var(--project-theme-switch-border-color);
    background-color: var(--project-theme-switch-background-color);
  }

  &__theme-switch::before {
    background: var(--project-theme-switch-color);
  }

  &__theme-switch:checked:before {
    background: var(--project-theme-switch-color);
  }

  &__theme-switch:checked {
    border-color: var(--project-theme-switch-border-color);
  }
}

.main {
  background-color: var(--primary-color);
  height: 100vh;

  &__container {
    height: variables.$main-height;
    color: var(--accent-color);
    padding: 0 2rem;
    @include variables.flexStyle(column, center);
  }

  &__heading {
    font-size: 1.3rem;

    &--first {
      font-size: 2.5rem;
    }
  }

  &__link {
    text-decoration: none;
  }

  &__direction {
    width: 3.5rem;
    height: 3.5rem;
    margin-top: 4rem;
    background: var(--accent-color);
    border-radius: 50%;
    color: var(--primary-color);
    @include variables.flexStyle(row, center);
    box-shadow: 0px 12px 10px rgba(variables.$dark-shadow, 0.1);
    animation: action 1s infinite alternate;
    border: none;
  }
}

@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.projects {
  height: 100vh;
  background-color: var(--background-theme);
  color: var(--light-color);

  &__container {
    height: variables.$main-height;
  }

  &__navigation {
    padding: 3rem 0rem 1rem;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;
  }

  &__navigation.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
  }

  &__navigation-item {
    width: 20%;
    padding: 0.2rem 0;
    margin: 0 0.5rem;
    border: none;
    font-size: 1rem;
    background-color: transparent;
    color: var(--light-color);

    &::after {
      content: "";
      display: block;
      margin: auto;
      margin-top: 3px;
      height: 5px;
      width: 0px;
      background: transparent;
      transition: width 0.8s ease, background-color 0.8s ease-in;
    }

    &.active::after {
      width: 100%;
      background: var(--active-nav-color);
    }
  }

  &__list {
    padding: 1rem 2rem;
    max-height: 86%;
    overflow-x: hidden;
    // scrollbar-width: thin;
    // scrollbar-color: #718096 #edf2f7;
  }

  &__list::-webkit-scrollbar {
    width: 0.5rem;
  }

  &__list::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &__list::-webkit-scrollbar-thumb {
    background-color: var(--custom-scrollbar-color);
    border-radius: 9999px;
  }
}

.project {
  padding: 1rem;
  margin-bottom: 1.5rem;

  &__description,
  &__btn {
    margin-top: 0.5rem;
  }

  &__btn {
    padding: 0.3rem;
    text-transform: uppercase;
    font-size: 0.7rem;
    color: var(--projects-btn-color);
    outline: none;
    background: transparent;
    border: 1px solid var(--projects-btn-color);
    margin-right: 1rem;
  }
}

.project:nth-child(odd) {
  background: var(--projects-odd-background-light);
  box-shadow: 0px 0px 20px rgba(#000, 0.2);
}

.project:nth-child(even) {
  background: var(--projects-even-background-color);
  border: 2px solid var(--projects-even-background-border);
  box-shadow: 0px 0px 0px rgba(#000, 0.4);
  box-sizing: border-box;
  filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.7));
}

@media only screen and (max-width: 359px) {
  .nav {
    height: 12vh;

    &__link:first-child {
      font-size: 0.9rem;
    }

    &__icon {
      font-size: 2.5rem;
    }

    &__theme-switch {
      // appearance: none;
      width: 61%;
      height: 25%;
      // border: 2px solid var(--secondary-color);
      // outline: none;
      // border-radius: 3rem;
      // transition: 0.3s;
      // background-color: var(--secondary-color);
    }

    &__theme-switch::before {
      width: 3.2%;
      height: 12.5%;
    }

    &__theme-switch:checked:before {
      transform: translateX(225%);
    }

    &__theme-question {
      font-size: 0.7rem;
    }
  }

  .main {
    &__container {
      padding: 0 1rem;
    }
  }

  // .projects {
  //   &__list {
  //     max-height: 86%;
  //   }
  // }
}
